{% extends 'agenda/base.html' %}
{% load static %}

{% block content %}

    <div class="mt-5">
        <h3>Mis contactos</h3>

        <div class="mt-3 d-flex justify-content-between">
            
            <form action="" style="max-width: 450px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por apellido" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-primary">
                        Buscar
                    </button>
                </div>
            </form>
            
            <a href="{% url 'contact_new' %}" class="btn btn-outline-primary">
                Registrar contacto
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="mt-5 table table-hover">
            <thead>
                <tr>
                    <th>Contactos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in object_list %}
                <tr>
                    <td>
                        {% if contact.avatar %}
                            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#contactModal{{ contact.pk }}">
                                <img src="{{ contact.avatar.url }}"  class="rounded" style="max-width: 150px; max-height: 150px;">
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="contactModal{{ contact.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{ contact.name }} {{ contact.fullname }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{ contact.avatar.url }}"  class="rounded" style="max-width: 200px; max-height: 200px;">
                                            <!-- <img src="https://agendacontact.s3.us-east-2.amazonaws.com/contact/mulan-live-action-1534245224_JtQNRuY.jpg" alt="..."> -->
                                            <!-- <img src="{{ contact.avatar.url }}" alt="" class="rounded" style="max-width: 200px; max-height: 200px;"> -->

                                            <p><strong>Nombre:</strong> {{ contact.name }}</p>
                                            <p><strong>Apellido: </strong> {{ contact.fullname }}</p>
                                            <p><strong> Gmail:</strong> {{ contact.email }}</p>
                                            <p><strong>Fecha de Nacimiento:</strong> {{ contact.birth|default:'-' }}</p>
                                            <p><strong>Celular:</strong> {{ contact.phone|default:'-' }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <a href="{% url 'contact_edit' contact.pk %}" class="btn btn-primary">Editar</a>
                                            <a href="{% url 'contact_delete' contact.pk %}" class="btn btn-danger">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'contact_edit' contact.pk %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'contact_delete' contact.pk %}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="text-end mb-5">
        {{ page_obj.paginator.count }} resultado{{ page_obj.paginator.count|pluralize }}
    </div>
    
    <div class="d-flex justify-content-between align-items-center">
        <small class="d-none d-sm-inline-block text-body">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </small>
    
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'contact_list' %}?page={{ page_obj.previous_page_number }}"
                           aria-label="Anterior">
                            <span aria-hidden="true">
                                <<
                            </span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Anterior">
                            <span aria-hidden="true">
                                <<
                            </span>
                        </a>
                    </li>
                {% endif %}
    
                {% for page in page_obj.adjusted_elided_pages %}
                    <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                        <a class="page-link" href="{% url 'contact_list' %}?page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'contact_list' %}?page={{ page_obj.next_page_number }}"
                           aria-label="Siguiente">
                            <span aria-hidden="true">
                                >>
                            </span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Siguiente">
                            <span aria-hidden="true">
                                >>
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}
